<?xml version="1.0"?>
<window><width>1600</width><height>1000</height>
  <menus><drawer default="false"/></menus>
  <dialog_on_exit>false</dialog_on_exit>
</window>
<plugin filename="MinimalScene" name="Campus | PAUSED environment preparation">
  <gz-gui><title>Campus | PAUSED environment preparation</title>
    <property type="bool" key="showTitleBar">false</property>
    <property type="string" key="state">docked</property></gz-gui>
  <engine>ogre2</engine><scene>scene</scene>
  <ambient_light>.65 .65 .65</ambient_light>
  <background_color>.55 .72 .86</background_color>
  <camera_pose>19 -25 13 0 0.25 2.08</camera_pose>
</plugin>
<plugin filename="GzSceneManager" name="Scene manager">
  <gz-gui><property key="state" type="string">floating</property>
    <property key="showTitleBar" type="bool">false</property>
    <property key="width" type="double">5</property>
    <property key="height" type="double">5</property></gz-gui>
</plugin>
<plugin filename="InteractiveViewControl" name="Camera inspection">
  <gz-gui><property key="state" type="string">floating</property>
    <property key="showTitleBar" type="bool">false</property>
    <property key="width" type="double">5</property>
    <property key="height" type="double">5</property></gz-gui>
</plugin>
<plugin filename="Screenshot" name="Screenshot">
  <gz-gui><property key="state" type="string">floating</property>
    <property key="showTitleBar" type="bool">false</property>
    <property key="width" type="double">50</property>
    <property key="height" type="double">50</property></gz-gui>
</plugin>

<plugin filename="CameraTracking" name="Saved camera views">
  <gz-gui><property key="state" type="string">floating</property>
    <property key="showTitleBar" type="bool">false</property>
    <property key="width" type="double">5</property>
    <property key="height" type="double">5</property></gz-gui>
</plugin>
